<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> NODEPOP</h1>
    <P>Compra y venta de artículos de segunda mano</P>

    <h2><%= title %></h2>
    <h3><%= message %></h3>
    <div class="container">
        <p><%= productos %></p>
    </div>
    <ul>
        <li><%= nombreProd1 %></li>
        <li><%= nombreProd2 %></li>
        <li><%= nombreProd3 %></li>
    </ul>

</body>
</html>